* {
  background-color: #f8f9fa;
  color: #323944;
  font-family: 'Gudea', 'Helvetica', 'Arial', 'Sans-Serif';
}

a {color: tomato;}
a:hover {color: orangered;}

#content, #footer-content {
  max-width: 700px;
  margin: auto;
}

footer {
  border-top: 1px solid black;
}
