* {
  background-color: #f8f9fa;
  color: #323944;
  font-family: 'Gudea', 'Helvetica', 'Arial', 'Sans-Serif';
}

a {color: tomato;}
a:hover {color: orangered;}

#content {
  max-width: 780px;
  margin: auto;
}
